.bot-card
  .avatar-box(title="Disco")
    a(href="#")
      span Ver
    
    .avatar(style="background-image: url(" + bot.avatar + ")")
  .details
    p.heading(title="Tags") #{bot.tags[Math.floor(Math.random() * bot.tags.length)]} | #{bot.servers || "???"} servidores | #{bot.votes} votos
    p.title.is-size-4(title=bot.name)
      img(title="Online" src="/img/icons/" + bot.status + ".png" oncontextmenu="return false;")
      | #{bot.name}
    p.subtitle.is-size-6(title="Descrição")=bot.description

    .links
      a.page(title="Página" href="#")
        span
        p Página
      
      a.invite(title="Adicionar" href="#")
        span
        p Adicionar
      
      a.invite(title="Votar" href="#")
        span
        p Votar