block head
    link(rel="stylesheet", href="/css/bot.css")

block content
    #profile.has-text-centered
        img#avatar.avatar(src=bot.avatar alt=bot.name oncontextmenu="return false;" draggable="false")
        h1.username.is-size-1.has-text-white
            | #{bot.name}
            span.is-size-4.has-text-grey-light ##{bot.tag}
        .about.has-text-justified
            p.is-size-5.has-text-grey-light #{bot.bio}
        #tags.is-inline-block
            span.align.has-text-white Tags: 
            - let i = 0;
            each tag in bot.tags
                a.tag(title=tag href="/tag/" + tag)
                    span(style="background:" + colors[i] + ";")
                    p=tags[tag]
                -i ++
        span.has-text-white.align  Prefixo: 
        code.align=bot.prefix
        span.has-text-white.align  Biblioteca: 
        code.align=bot.library
        span.has-text-white.align   Votos: 
        code.align=bot.votes
        span.has-text-white.align   Servidores: 
        code.align=bot.guilds
        br
        span.has-text-white| Dono#{bot.owners.length > 1 ? "s" : ""}: 
        each owner in bot.owners
            .owner
                figure.image.is-32x32
                    if owner.avatarBuffer && owner.avatarBuffer.data
                        img.is-rounded(src="data:" + owner.avatarBuffer.contentType + ";base64, " + owner.avatarBuffer.data)
                    else
                        img.is-rounded(src="https://cdn.discordapp.com/embed/avatars/4.png")

                a(href="/user/" + owner.id) #{owner.username}##{owner.discriminator}
        br
        .buttons.is-centered
            a.button(href=bot.url + "add") Adicionar
            a.button(href=bot.url + "votar") Votar
            a.button(href=bot.url + "report") Denunciar
            if bot.website
                a.button(href=bot.website) Site
            if bot.donate
                a.button(href=bot.donate) Doar
            if bot.support
                a.button(href="https://discord.gg/" + bot.support) Suporte
            if user && bot.owners.some(x => x.id == user.id)
                a.button(href=bot.url + "editar") Editar
    .container.main-container
        .box.content !{bot.content}
