extends ../layouts/layout

block head
    script(src="https://www.google.com/recaptcha/api.js" async defer)
    script(src="/js/add.js")
    link(rel="stylesheet", href="/css/add.css")

block content
    .container.main-container
        p#addtitle.title.is-size-4 EDITAR BOT
        p.subtitle.is-size-6 Preencha o formulário para editar o seu bot..
        
        form#form(action="/bots/editar" method="POST")
            .field.is-horizontal
                .field-label.is-normal.has-text-left    
                    label.label ID *
                .field-body
                    .field.is-narrow
                        .control
                            input.input#id(name="id" readonly value=bot.id)
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Outros donos
                .field-body
                    .field
                        .control
                            #owners
                                if bot.details.otherOwners
                                    each owner of bot.details.otherOwners
                                        if owner
                                            input.input.owner-input(name="owners" maxlength="18" placeholder="Insira o ID do usuário" value=owner)
                                if bot.details.otherOwners && bot.details.otherOwners.some(x => x)
                                    button.button#remOwner(type="button") -
                                else
                                    button.is-hidden.button#remOwner(type="button") -
                                if bot.details.otherOwners && bot.details.otherOwners.length > 5
                                    button.is-hidden.button#addOwner(type="button") +
                                else
                                    button.button#addOwner(type="button") +
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Biblioteca *
                .field-body
                    .field.has-addons
                        .control
                            .select
                                select#library(name="library")
                                    option(value="")="Escolha uma biblioteca..."
                                    for lib in libraries
                                        option(selected=(lib == bot.details.library))=lib
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Servidor de suporte
                .field-body
                    .field.has-addons
                        p.control
                            a.button.is-static https://discord.gg/
                        p.control
                            input.input#support(maxlength="20" name="server" type="text" value=bot.details.supportServer)
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Convite customizado
                .field-body
                    .field
                        .control
                            input.input#invite(maxlength="2083" name="custominvite" type="text" placeholder="https://sitedomeubot.com.br/adicionar" value=bot.details.customInviteLink)
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Site
                .field-body
                    .field
                        .control
                            input.input#site(maxlength="2083" name="website" type="text" placeholder="https://sitedomeubot.com.br/" value=bot.details.website)
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Link de doação
                .field-body
                    .field
                        .control
                            input.input#site(maxlength="2083" name="donate" type="text" placeholder="https://paypal.com/" value=bot.details.donate)
                            p.help Digite o link em que os usuários poderão doar para o seu projeto.
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label GitHub
                .field-body
                    .field.has-addons
                        p.control
                            a.button.is-static https://github.com/
                        p.control
                            input.input(maxlength="100" name="github" type="text" placeholder="zuraaa-projects/ZuraaaBot" value=bot.details.github)
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Prefixo *
                .field-body
                    .field.is-narrow
                        .control
                            input.input#prefix(maxlength="15" name="prefix" type="text" placeholder="Insira o prefixo do seu bot." value=bot.details.prefix)
                        p.help Digite até 15 caracteres
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Descrição curta *
                .field-body
                    .field
                        .control
                            textarea#shortdesc.textarea(maxlength="300" name="shortdesc" placeholder="Fale resumidamente sobre seu bot." rows="2")=bot.details.shortDescription
                        p.help Digite de 3 até 300 caracteres.
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Webhook
                .field-body 
                    .field.has-addons
                        .control
                            .select
                                - const values = ['Desativado', 'Discord', 'Servidor próprio']
                                select#webhook(name="webhook")
                                    for value, index in values
                                        option(value=index, selected=(bot.webhook.type == index))=value
            .field.is-horizontal.is-hidden#webhook-url
                .field-label.is-normal.has-text-left
                    label.label Webhook Url
                .field-body
                    .field
                        .control
                            input.input#webhook(maxlength="2083" name="webhookurl" type="url" placeholder="https://sitedomeubot.com.br/webhook" value=bot.webhook.url)
                        a.help(href="https://github.com/zuraaa-projects/Zuraaa.com/wiki/Votos-Webhook" target="_blank") Documentação
                        if bot.webhook.type && bot.webhook.lastError
                            p.help.has-text-danger Foram detectados erros no seu WebHook
            .field.is-horizontal.is-hidden#webhook-header
                .field-label.is-normal.has-text-left
                    label.label Webhook Authentication header
                .field-body
                    .field
                        .control
                            input.input#authorization(maxlength="2083" name="authorization" type="text" value=bot.webhook.authorization)
                        p.help Header "Authorization" que será enviado junto
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Descrição longa
                .field-body
                    .field
                        .control
                            textarea#longdesc.textarea(maxlength="10000" name="longdesc" placeholder="Fale detalhadamente sobre seu bot." rows="8")=bot.details.longDescription
                        p.help Digite até 10.000 caracteres. Markdown permitido.
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Tags *
                .field-body
                    .control
                        .select.is-multiple
                            select#tags(name="tags" multiple)
                                for tag, key in tags
                                    option(value=key selected=bot.details.tags.some(x=>[tag, key].includes(x)))=tag
                        p.help Limite de 6 tags. Selecione as que representam seu bot. Use CTRL para selecionar mais de uma.   
            button.button.g-recaptcha(data-sitekey=captcha data-callback="onSubmit" data-action="submit") Enviar                        
        p.limitedetags#sim