extends ../layouts/layout

block content
    .container.main-container
        each bot in bots
            .box
                article.media
                    .media-left
                        figure.image.is-64x64
                            img.is-rounded(src=bot.avatar)
                    p
                        strong=bot.name
                        br
                        | #{bot.description}
                        br
                        strong Prefix:
                        | #{bot.prefix} 
                nav.level
                    .level-left
                        a.button.level-item(href=bot.baseUrl) Página 
                        a.button.level-item(href=`https://discord.com/oauth2/authorize?client_id=${bot.id}&scope=bot&guild_id=${bpdId}&disable_guild_select=true` target="_blank") Adicionar
                        a.button.is-success.level-item(href=`/staff/bots/${bot.id}/aprovar`) Aprovar
                        a.button.is-danger.level-item(href=`/staff/bots/${bot.id}/rejeitar`) Rejeitar
